.layout-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease-in-out;
  margin-left: 260px; /* Sidebar width */
  background-color: var(--color-theme-lightest);
}

/* Styles for when sidebar is collapsed */
.layout-container.sidebar-collapsed .main-content {
  margin-left: 80px; /* Collapsed sidebar width */
}

.page-content {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
}